<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h1>Welcome To Our Website !!!!!</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias tempore
      quidem ullam sequi, est eum aperiam dolor fuga provident quae nulla ut at
      adipisci, asperiores sed eaque nostrum et id!
    </p>
  </body>
</html>
