<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h1>Our Services</h1>
    <p class="service-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
      voluptate! Reiciendis praesentium necessitatibus eos, aspernatur dolorum
      nihil repellendus quibusdam, consequatur tempora ipsum dolorem illum
      doloribus ad repellat, molestiae id nesciunt!
    </p>
  </body>
</html>
